<aside class="box" id="dates">
    <h2 class="footnote">Important Dates</h2>
    <dl>
        <dt>
            July 20, 2018
        </dt>
        <dd>
            Registration and position statements deadline
        </dd>
        <dt>
            July 31, 2018
        </dt>
        <dd>
            Acceptance notifications
        </dd>
        <dt>
            August 10, 2018
        </dt>
        <dd>
            Program announced
        </dd>
        <dt>
            18-19 September, 2018
        </dt>
        <dd>
            Workshop
        </dd>
    </dl>
</aside>
<aside class="box" id="regs">
    <h2 class="footnote">Registrations and Position Statements</h2>
    <p>Fill out the <a href="https://www.w3.org/2002/09/wbs/1/2018publayoutws/">registration form</a> or submit a <a href="#position-statements">position statement</a>.</p>
</aside>
