<aside class="box box-host" id="host">
    <h2 class="footnote">Host</h2>
    <p class="image-paragraph-host">
        W3C gratefully acknowledges the APL (Advanced Publishing Laboratory) of Keio Research Institute at SFC for hosting this workshop.
    </p>
    <p class="image-paragraph">
        <a href="https://www.kri.sfc.keio.ac.jp/en/lab/aplab.html" class="image-link"><img src="https://www.w3.org/publishing/events/tokyo18-workshop/assets/logos/apl.png" alt="APL"></a>
    </p>
</aside>
<aside class="box" id="sponsor">
    <h2 class="footnote">Sponsors</h2>
    <section class="sponsors-section sponsors-section-platinum">
        <h3 id="platinum-sidebar">Platinum Sponsors</h3>
    </section>
    <section class="sponsors-section sponsors-section-silver">
        <h3 id="gold-sidebar">Gold Sponsors</h3>
        <!-- <p>
            <a href="http://khronos.org/">The Khronos Group</a>
        </p> -->
    </section>
   <section class="sponsors-section sponsors-section-silver">
        <h3 id="silver-sidebar">Silver Sponsors</h3>
        <!-- <p>
            <a href="http://khronos.org/">The Khronos Group</a>
        </p> -->
    </section>
    <p>
        <a href="sponsorship.html">Sponsorship package info.</a>
    </p>
</aside>
